@font-face {
    font-family: "CaslonGraphique";
    src: url(../fonts/CaslonGraphique.otf);
    font-family: "ProximaNovaThin";
    src: url(../fonts/ProximaNovaThin.otf);
}

h1 {
    padding: 0;
    margin: 0;
}

.settings-title {
    font-family: proxima-nova, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    color: #252755;
    margin-top: 20px;
}

.settings-subtitle {
    font-family: ProximaNovaThin;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: #252755;
}

.button-styling {
    background-color: white;
    width: 80%;
    font-family: proxima-nova, sans-serif;
    font-size: 1.4em;
    padding: 1.2rem;
    font-weight: 700;
    color: #ff6e62;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .16);
}

#thirty, #sixty {
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.btn-set-active {
    color: white !important;
    background-color: #ff6e62 !important;
    transform: scale(1.2);
    transition-duration: 0.5s;
    border-radius: 5px;
    border-style: none; 
}

.btn-rests-active  {
    color: white !important;
    background-color: #ff6e62 !important;
    transform: scale(1.2);
    transition-duration: 0.5s;
    border-radius: 7px;
    border-style: none; 
}

.btn-seconds-active {
    background-color:#ff6e62;
    color: white;
    font-family: proxima-nova, sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.swiper-container {
    width: 85%;
    padding: 0.7rem;
}

.hidden {
    opacity: 0;
}

.swiper-slide {
    width: 2rem;
    height: 3.5rem;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .16);
    border-radius: 7px;
    font-family: proxima-nova, sans-serif;
    font-size: 1.4em;
    background-color: white;
    font-weight: 700;
    color: #ff6e62;
    border-style: none;
    line-height: 1;
}

.swiper-slide {
    line-height: 0.7;
}


.test {
    color: grey;
}
.btn, button {
    white-space: normal;
}

.swiper-slide:focus, .swiper-slide:visited, .swiper-slide:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;  
}

.submit-settings {
    background-color: #ff6e62;
    color: white;
    font-size: 1.5rem;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    width: 100%;
    height: 15vh;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .16);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}

.spacing {
    padding-top: 9rem;
}

.back-arrow {
    width: 25%;
    height: auto;
    float: left;
}

.back-arrow-white {
    width: 13%;
    height: auto;
    float: left;
}

.back-sizing {
    position: absolute;
    left: 30px;
    top: 30px
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.topnav p, .topnav img {
    display: inline-block;
}

#remaining-time {
    font-family: proximanovathin, sans-serif;
    font-size: 30px;
    width: 60%;
    text-align: right;
    color: #ff6e62;
    padding-right: 5rem;
    /* margin-top: 1rem; */
}

iframe {
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: white;
    color: white;
    text-align: center;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.set-styling {
    font-size: 30px;
    color: #ff6e62;
    font-family: ProximaNovaThin, sans-serif;
    font-weight: 700;
    margin: 0;
    margin-left: 1.5rem;
    padding: 0;
}

.reset {
    display: inline-block;
}

.pause {
    display: inline-block;
}

.cont {
    display:flex;
    align-items: center; 
    justify-content: center;
    height: 80vh;
}

.giphy-styling {
    width: 100%;
    position: relative;
    margin-bottom: 5em;
}

.img-resizing-pause {
    width: 60%;
    height: auto;
}

.img-resizing-reset {
    width: 40%;
    height: auto;
    float: middle;
}

#currentSets {
    color: #ff6e62;
    font-family: Proxima-nova, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0.5rem;
    margin-top: 13px;
}

.sec-remaining {
    font-family: Proxima-nova, sans-serif;
    font-size: 2rem;   
}

.rests-background {
    background-color:#252755;
    height: 100vh;
}

.rests-seconds-remaining p {
    display: inline-block;
}

.page-title {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: ProximaNovaThin;
    margin: 0;
    padding: 0;
}

#remainingRests {
    color: white;
    font-size: 10rem;
    font-family: Proxima-Nova, sans-serif;
    font-weight: 700;
    display: inline-block;
    align-self: flex-end;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
}

.rests-seconds-remaining {
    display: block;
    margin: auto;
}

.sec-remaining {
    font-family: ProximaNovaThin;
    color: white;
    display: inline-block;
    align-self: flex-end;
    margin: 0 !important;
    padding: 0 !important;
}

.skip-btn {
    display: block;
    width: 80%;
    margin: auto;
    color: white;
    background-color: #ff6e62;
    font-family: ProximaNovaThin;
    font-size: 2rem;
}


.time-spacing {
    display: flex;
    align-items: center;
    height: 75vh; 
}


.remain {
    margin-top: 20px;
    line-height: 0.2;
    margin-bottom: 13px;
}

.sec {
    margin-top: 0;
    line-height: 0;
    font-size: 0.6rem;
}


.col-icon {
    width: 33.333%;
}

.col-icon-last {
    width: 33.333%;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.confetti-container {
    display:flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.tile {
    width: 80%;
    height: 15rem;;
    background-color: white;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .16);
    border-radius: 7px;
}

.tile h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    color: #ff6e62;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 15%;
    left: 35%;
}

.redo {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    z-index: 100;
    width: 100vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background-color: #ff6e62;
    border-style: none;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .16);
}
