@font-face {
    font-family: "CaslonGraphique";
    src: url(../fonts/CaslonGraphique.otf);
    font-family: "ProximaNovaThin";
    src: url(../fonts/ProximaNovaThin.otf);
}

h1 {
    padding: 0;
    margin: 0;
}

.settings-title {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-top: 4rem;
}

.settings-subtitle {
    font-family: ProximaNovaThin;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.button-styling {
    background-color: white;
    width: 35rem;
    height: 5rem;
    font-family: proxima-nova, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ff6e62;
    border-style: none;
    border-radius: 7px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .16);
}

.button-spacing {
    margin: 4rem;
}

#thirty, #sixty {
    display: block;
    margin: auto;
}

 #thirty:focus, #sixty:focus {
    background-color:#ff6e62;
    color: white;
    font-family: proxima-nova, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

